manifest {
    homePage = 'https://github.com/iarcbioinfo/gatk4-GenotypeGVCFs-nf'
    description = 'Nextflow pipeline for GATK4 GenotypeGVCFs'
    mainScript = 'gatk4-GenotypeGVCFs.nf'
}

profiles {

    local {
        process.executor = 'local'
    }

    cobalt {
        executor.name = 'slurm'
        executor.queueSize = 10
		
		process.queue = 'broadwell'
        process.module = 'extenv/fg'
        process.cache = 'lenient'
		
        process {
			withName: GenotypeGVCFs {
				module = 'extenv/fg:samtools/1.9:picard-tools/2.6.0'
			}
        }
    }

    jupiter {
        executor.name = 'lsf'
        executor.queueSize = 50
		executor.perJobMemLimit = true
	}

}

