manifest {
    homePage = 'https://github.com/iarcbioinfo/gatk4-GenotypeGVCFs-nf'
    description = 'Nextflow pipeline for GATK4 GenotypeGVCFs'
    mainScript = 'gatk4-GenotypeGVCFs.nf'
}

profiles {

    local {
        process.executor = 'local'
    }

    cobalt {
        executor.name = 'slurm'
        executor.queueSize = 100
		
		process.queue = 'broadwell'
        process.clusterOptions = '-A fg0050@broadwell'
        process.module = 'extenv/fg'
		
    }

    jupiter {
        executor.name = 'lsf'
        executor.queueSize = 50
		executor.perJobMemLimit = true
	}

}

